<div class="auth-container body-container gradient-bg">
  <div class="auth-page">
    <div class="auth-form-container">
      <div class="input-container">
        <div>First Name</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Last Name</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Phone Number</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Email</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Username</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Password</div>
        <input type="text">
      </div>
      <div class="input-container">
        <div>Confirm Password</div>
        <input type="text">
      </div>
    </div>
    <div class="auth-button" (click)="goToHome()">
        Sign Up
    </div>
  </div>
</div>
